*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*-----Navbar-----*/

.navbar{
    background: linear-gradient(to right, #777777, #d5d5d5);
    position: fixed;
    width: 100%;
    z-index: 10;
}
.navmenu  {
    float: right;
    padding: 22px 0 0;
}
.navmenu a {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0px 10px ;
    transition: all 0.2s ease-in-out;
}
.navmenu a:hover {
    color: #fd3a3a;
} 
/*-----Header-----*/


.header{
    background: #001628;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 130px 50px 70px ;
}
.catchphrase{
    /*background: rgb(100, 90, 56);*/
    background: rgb(100,90,56);
    background: linear-gradient(180deg, rgba(100,90,56,0.6026610473290879) 0%, rgba(100,90,56,1) 100% ), url("IMG/calculator-gf40535c39_640.jpg");
    width: 50%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px 0;
}
.about{
    padding: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3), 0 0 300px 25px rgba(222,198,122,0.7) inset;
    /*width: 250px;
    height: 350px; */
    position: relative;
}
.about-title {
    z-index: 2;
}
.btn {
    background: #25D366;
    border: 1px solid #25D366;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    padding: 12px 14px;
    margin-top: 25px;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
}  
.btn:hover,
.btn:active {
    background-color: initial;
    background-position: 0 0;
    color: #25D366;
}
.btn:active {
    opacity: .5;
}
.btn a {
    color: #FFFFFF;
    text-decoration: none;
}

.about:before, .about:after {
    content: "";
    box-shadow: 0 0 8px rgba(0,0,0,0.2), inset 0 0 300px rgba(222,198,122,0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    transition: .5s;
}
.about:before {
    left: -5px;
    top: 2px;  
    transform: rotate(-1.5deg);
}
.about:after {
    right: -3px;
    top: 0px;
    transform: rotate(2.4deg);
}

.about:hover:before {
    transform: rotate(0deg);
    border: solid rgba(111,99,61,0.4);
    border-width: 0px 0px 0px 1px;
    left: -6px;
    top: -6px; 
}

.about:hover:after {
    transform: rotate(0deg);
    border: solid rgba(111,99,61,0.4);
    border-width: 0px 0px 0px 1px;
    right: 3px;
    top: -3px;
}

.textboxes{
    margin: 0 20px;
    padding: 50px;
    background: rgb(222,198,122);
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


input[type=submit] {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    padding: 12px 14px;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
}
input[type=submit]:hover {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

/*-----ABOUT-----*/

.blog{
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 2rem 2rem;
    background: #d5d5d5;
    background: -webkit-linear-gradient(to right, #777777, #d5d5d5);
    background: linear-gradient(to right, #777777, #d5d5d5);
}
.blog_post {
    background: #fff;
    max-width: 1100px;
    border-radius: 10px;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    position: relative;
}

.blog_contain {
    padding: 6rem 4rem 5rem 4rem;
}  
.blog_img {
    height: 110px;
    width: 110px;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    z-index: 5;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    position: absolute;
    left: -5%;
    top: -8%;
    display: flex;
    align-items: center;
    justify-content: center;
}  
.blog_img img {
    height: 8.3rem;
    width: 8.3rem;
    position: relative;
    border-radius: 100%;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.blog_contain h3 {
    margin: 0 0 0.5rem 0;
    color: #999;
    font-size: 1.25rem;
}  
.blog_contain h1 {
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    color: #333;
}
.blog_contain p {
    margin: 0 0 4.5rem 0;
    font-size: 1.5rem;
    line-height: 1.45;
    color: #333;
}  


/*-----SERVICES-----*/

.services{
    background: #001628;
    color: #777;
    padding: 4em;
    font-family: sans-serif;
    line-height: 1.15;
}

.services hr { /*dummy content*/
    height: 6px;
    border: none;
    background: rgba(0, 0, 0, 0.1);
} 
.services hr.artimage { /*dummy content*/
    padding-bottom: 50%;
}
.artimage{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.page {
    padding: 2em;
    background: #cecece;
    max-width: 1300px;
}
.archive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1em;
    grid-auto-flow: dense;
}
.article {
    padding: 1em;
    background: #fff;
    box-shadow:
        0 5px 10px rgba(0, 0, 0, 0.1),
        0 20px 20px rgba(0, 0, 0, 0.05);
}
.article::after {
    color: white;
    font-weight: bold;
    font-family: courier;  
}
.article ul {
    padding-left: 5px;
}


.article:nth-child(3) {
    grid-column: 3/ span 3;
}
.article:nth-child(6) {
    grid-column: 3/ span 3;
}
.article:nth-child(9) {
    grid-column: 3/ span 3;
}
.article:nth-child(12) {
    grid-column: 3/ span 3;
}
.article:nth-child(15) {
    grid-column: 3/ span 3;
}
.article:nth-child(18) {
    grid-column: 3/ span 3;
}
.article:nth-child(20) {
    grid-column: 2/ span 3;
}
.article:nth-child(21) {
    grid-column: 5;
}



/*-----CONTACT FOOTER-----*/

.footer{
    background: #d5d5d5;
    background: -webkit-linear-gradient(to right, #777777, #d5d5d5);
    background: linear-gradient(to right, #777777, #d5d5d5);
}

.footer-title {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 6px;
}
.contact-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
}
.form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
}
.direct-contact {
    max-width: 400px;
    margin: 0 40px 0;
}
.contacting {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}
.contact-term {
    line-height: 4;
    color: #aaa;
}
.contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
}
.phone {
    margin-left: 56px;
}
.gmail {
    margin-left: 53px;
}
.contact-text a {
    color: #777777;
    text-decoration: none;
    transition-duration: 0.2s;
}
.contact-text a:hover {
    color: #444444;
    text-decoration: none;
}
/*ANIMATION*/
.animate__animated.animate__fadeInLeft {
    --animate-duration: 2s;
}
.animate__animated.animate__fadeInRight {
    --animate-duration: 2s;
}



/*MEDIA QUERY*/

@media screen and (max-width: 800px) {

    *{
        margin: auto;
        padding: 0;
    }
    .header {
        width: 160%;
        flex-direction: column;
    }
    .catchphrase{
        width: 100%;
        margin: 20px 0;
    }
    .textboxes{
        width: 100%;
    }
    .blog{
        width: 160%;
        height: 100%;
    }
    .blog_post{
        height: 100%;
    }
    .blog_contain{
        width: auto;
        height: 100%;
        overflow-y: scroll;
    }
    .services{
        width: 160%;
    }
    .page{
        overflow-x: scroll;
        height: 120%;
        width: 100%;
    }
    .archive {
        grid-gap: 3em;
    }
    .article{
        height: 90%;
        width: 120%;
        margin: 20px;
        padding: 20px;
    }
    .footer{
        width: 160%;
    }
}